[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
networkx = "*"
pydot = "*"
portion = "*"
numpy = "*"
scipy = "*"
python-dateutil = "*"

[requires]
python_version = "3.6"
